:root{
    --maingGreen : rgb(59, 158, 64);
    --secondaryGreen: rgb(9, 66, 12);

    
}


body {
    font-family: 'Questrial', sans-serif;
}

/***********
index html style
************/

header h1{
    color: black;
}


footer a{
    text-decoration: none;
    color: white;
}

.jumbotron {
    padding: 30px;
    background-color: var(--maingGreen);
    color: white;
    margin: 0;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar{
    background-color: var(--secondaryGreen);
}

.nav-link{
    color: white;
    text-decoration: none;
}



/***********
aboutUs
************/
.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

.nav-link{
    color: black;
}

/***********
footer
************/

.site-footer {
    background-color: var(--maingGreen);
    padding: 20px 0;
}